<div *ngIf="plan">
  <div class="invetory-wrapper">
    <app-inventory [(stacks)]="plan.goals" (onItemsChanges)="recalcPlan()"></app-inventory>
    <app-inventory [(stacks)]="plan.inventory" (onItemsChanges)="recalcPlan()"></app-inventory>
  </div>
  Crafting steps

  <mat-list class="crafting-steps">
    <mat-list-item *ngFor="let step of plan.craftingSteps">
      <div class="crafting-step">
        <span class="step-count">
          {{ step.count }}
        </span>
        <span class="results" *ngIf="step.recipe.result">
          <app-item-stack [itemStack]="result" *ngFor="let result of step.recipe.result">
          </app-item-stack>
        </span>

        <mat-icon class="recipe-arrow" >arrow_backward</mat-icon>

        <span class="ingredients" *ngIf="step.recipe.ingredients">
          <app-item-stack [itemStack]="ingredient" *ngFor="let ingredient of step.recipe.ingredients">
          </app-item-stack>
        </span>

        <button mat-button (click)="removeStep(step)">
          REMOVE
        </button>
      </div>

    </mat-list-item>
  </mat-list>

  Materials

  <mat-list class="required-ingredients">
    <mat-list-item *ngFor="let ingredient of requiredItems">
    <app-item-stack [itemStack]="ingredient">
    </app-item-stack>
      <button mat-button (click)="expandStack(ingredient)">
        EXPAND
      </button>
    </mat-list-item>
  </mat-list>

  Graph
</div>