.invetory-wrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.invetory-wrapper app-inventory {
  display: table-cell;
}

.step-count {
  font-size: 24px;
  width: 48px;
  display: inline-block;
  text-align: right;
  padding-right: 10px;
}

.ingredients app-item-stack {
  margin-right: 4px;
}

.ingredient-list {
  display: flex;
  flex-wrap: wrap;
}

.ingredient-list mat-list-item {
  width: 33%;
}