<div *ngIf="recipe">

  <div class="recipe-components">
    <div class="result-items">
      <mat-toolbar color="primary">
        Results
      </mat-toolbar>
      <div *ngFor="let result of recipe.result">
        <app-inventory [stacks]="result"></app-inventory>
        <button mat-button (click)="removeIngredient(recipe.result, result)">
          REMOVE
        </button>
      </div>
      <button mat-button (click)="addIngredient(recipe.result)">
        ADD
      </button>
    </div>
    <div class="igredient-items">
      <mat-toolbar color="primary">
        Ingredients
      </mat-toolbar>
      <div *ngFor="let ingredient of recipe.ingredients">
        <app-inventory [stacks]="ingredient"></app-inventory>
        <button mat-button (click)="removeIngredient(recipe.ingredients, ingredient)">
          REMOVE
        </button>
      </div>
      <button mat-button (click)="addIngredient(recipe.ingredients)">
        ADD
      </button>
    </div>
  </div>
  <button mat-raised-button (click)="saveRecipe(recipe)">
    SAVE
  </button>
  <button mat-raised-button *ngIf="recipe._id" (click)="deleteRecipe(recipe)">
    DELETE
  </button>
</div>