<div *ngIf="recipe">

  <p>Recipe</p>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Results</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-inventory [stacks]="recipe.result"></app-inventory>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Ingredients</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let ingredient of recipe.ingredients">
          <app-inventory [stacks]="ingredient"></app-inventory>
        </div>
      </mat-card-content>
    </mat-card>


</div>