<span class="results" *ngIf="configurableRecipe.result">
  <app-positioned-item-stack [item]="result" *ngFor="let result of configurableRecipe.result">
  </app-positioned-item-stack>
</span>

<a routerLink="/recipe/{{configurableRecipe.recipe._id}}">
  <mat-icon class="recipe-arrow" title="{{configurableRecipe.recipe.handlerName}}">arrow_backward</mat-icon>
</a>

<span class="ingredients" *ngIf="configurableRecipe.ingredients">
  <app-positioned-item-stack [item]="ingredient" *ngFor="let ingredient of configurableRecipe.ingredients">
  </app-positioned-item-stack>
</span>
