:host {
  display: inline-block;
  width: 44px;
  height: 32px;
  position: relative;
}

.item-cycler {
  width: 12px;
  vertical-align: text-bottom; 
  overflow: hidden;
  position: absolute;
  right: 0;
}

.item-cycler .mat-icon {
  margin-left: -6px;
}