.craft-graph-canvas {
  width: 100%;
  height: 500px;
}

.craft-graph-canvas ::ng-deep .node text {
  visibility: hidden;
}

.craft-graph-canvas ::ng-deep .node-hovered text {
  visibility: visible;
}

.craft-graph-canvas ::ng-deep .link {
  stroke: #999;
  stroke-opacity: .6;
}

.craft-graph-canvas ::ng-deep .link .link-text {
  display: none;
}

.craft-graph-canvas ::ng-deep .hover-link {
  stroke-width: 5px;
}

.craft-graph-canvas ::ng-deep .link .hover-link {
  display: block;
}

.craft-graph-canvas ::ng-deep .target-hover-link {
  stroke: #F00;
}

.craft-graph-canvas ::ng-deep .source-hover-link {
  stroke: #0F0;
}